In [5]:
import pandas as pd
import numpy as np

In [13]:
def haversine_np(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [14]:
def haversine_wrapper(x, y):
  m, k = x.shape
  n, kk = y.shape
  result = np.empty((m,n),dtype=float)
  for i in range(m):
    print('\r'+str(i), end='')
    for j in range(n):
      result[i,j]=haversine_np(x[i,0], x[i,1], y[j,0], y[j,1])
  return result

In [15]:
def getCountOfPlace(secent_place, meter=300):
  #secent_place_c = np.copy(secent_place)
  mask1 = secent_place*1000<=meter
  secent_place[mask1]=1
  secent_place[~mask1]=0
  return np.sum(secent_place, axis=-1)

In [6]:
import os
import pandas as pd

secent=pd.read_csv(os.getcwd() + "/dataset/서울시 격자 중심점_좌표변환.csv")
secent

           left     bottom     right        top      xcoord     ycoord
0      935000.0  1950800.0  935100.0  1950900.0  126.764657  37.554709
1      935000.0  1950900.0  935100.0  1951000.0  126.764649  37.555611
2      935100.0  1950700.0  935200.0  1950800.0  126.765798  37.553815
3      935100.0  1950800.0  935200.0  1950900.0  126.765789  37.554716
4      935100.0  1950900.0  935200.0  1951000.0  126.765781  37.555618
...         ...        ...       ...        ...         ...        ...
61645  972000.0  1949500.0  972100.0  1949600.0  127.183599  37.544858
61646  972000.0  1949600.0  972100.0  1949700.0  127.183595  37.545759
61647  972000.0  1949900.0  972100.0  1950000.0  127.183584  37.548463
61648  972000.0  1950100.0  972100.0  1950200.0  127.183576  37.550266
61649  972000.0  1950200.0  972100.0  1950300.0  127.183572  37.551167

[61650 rows x 6 columns]

# 네프론

In [ ]:
x = np.asarray([ [lng, lat] for lng, lat in zip(secent['xcoord'], secent['ycoord'])])

In [9]:
nepron = pd.read_csv(os.getcwd() + "/dataset/네프론.csv", encoding='CP949')
nepron

,Unnamed: 0,0,1.00000,2.00000,3
0,0,도봉구 창5동주민센터 - 서울 도봉구 도봉로136나길 20,37.65625,127.04357,도봉구
1,1,강서구 강서구청 후문 주차장 - 서울 강서구 화곡로 302 강서구청,37.55091,126.84957,강서구
2,2,동작구 상도4동 주민센터 - 서울 동작구 양녕로27길 44,37.49936,126.94132,동작구
3,3,동작구 노량진2동 주민센터 - 서울 동작구 장승배기로19길 48 노량진2동 주민센터,37.50851,126.93731,동작구
4,4,동작구 상도3동 주민센터 - 서울 동작구 성대로2길 11 상도3동 주민센터,37.49907,126.93136,동작구
5,5,강동구 강동구민회관 - 서울 강동구 상암로 168 강동구민회관,37.54573,127.14120,강동구
6,6,양천구 목3동 시장지원센터 - 서울특별시 양천구 목동중앙북로6길 5,37.54813,126.86518,양천구
7,7,양천구 목3동 행정복지센터 정문 - 서울 양천구 목동중앙남로16나길 55 목3동주민센터,37.54470,126.86443,양천구
8,8,송파구 소리공원 - 서울특별시 송파구 문정동 319-1,37.48051,127.11886,송파구
9,9,송파구 석촌호수 아뜰리에 화장실 - 서울특별시 송파구 석촌호수로 191,37.50924,127.09915,송파구
10,10,중구 다산동 주민센터 - 서울 중구 동호로15길 50 다산동주민센터,37.55431,127.00825,중구
11,11,"성동구 세븐일레븐 도선까페점 - 서울특별시 성동구 왕십리로 326, 1층",37.56272,127.03389,성동구
12,12,강동구 암사유적박물관 - 서울 강동구 올림픽로 875 서울 암사동 유적,37.55968,127.12808,강동구
13,13,관악구 대학동주민센터 - 서울 관악구 신림로 111 대학동주민센터,37.47060,126.93695,관악구
14,14,송파구 세븐일레븐 롯데월드몰 수족관점 - 서울 송파구 올림픽로 300 롯데월드몰 지...,37.51357,127.10354,송파구
15,15,강서구 강서구민회관 - 서울 강서구 우장산로 66 강서구민회관,37.55337,126.84374,강서구
16,16,강서구 가양레포츠센터 - 서울 강서구 가양동 1493,37.55964,126.86441,강서구
17,17,관악구 낙성대동주민센터 - 서울특별시 관악구 낙성대로4가길 5 낙성대동주민센터,37.47631,126.95849,관악구
18,18,강동구 샘터공원 배드민턴장 - 서울특별시 강동구 동남로 990,37.56207,127.15773,강동구
19,19,영등포구 여의도공원 - 서울특별시 영등포구 여의도동 여의도공원 6번출입구 앞,37.52382,126.91892,영등포구
20,20,중랑구 면목역공원 - 서울특별시 중랑구 면목동 면목역 3번출구,37.58951,127.08590,중랑구
21,21,중랑구 망우역 - 서울특별시 중랑구 망우로55길 11-10 망우역 앞,37.59812,127.09279,중랑구
22,22,강동구 성일초등학교 - 서울특별시 강동구 성내로15길 33 성일스포츠센터 앞,37.52917,127.12837,강동구
23,23,광진구 광진광장 - 서울특별시 광진구 광나루로 389 광진광장,37.54771,127.07357,광진구
24,24,광진구 구의3동주민센터 - 서울특별시 광진구 강변역로 17 구의3동 복합청사,37.53807,127.09188,광진구

In [10]:
def getCoordPair(df, lng_name, lat_name):
  return np.asarray( [ [lng, lat] for lng, lat in zip(df[lng_name], df[lat_name])] )

In [22]:
y = getCoordPair(nepron, '2.00000', '1.00000')

In [23]:
secent_nepron = haversine_wrapper(x, y)

61649

In [28]:
with open(os.getcwd() + "/npy_file/secent_nepron.npy", 'wb') as f:
    np.save(f, np.array(secent_nepron))

In [27]:
secent['네프론']=getCountOfPlace(secent_nepron)
secent[secent['네프론']>0]

           left     bottom     right        top      xcoord     ycoord   네프론
0      935000.0  1950800.0  935100.0  1950900.0  126.764657  37.554709  25.0
1      935000.0  1950900.0  935100.0  1951000.0  126.764649  37.555611  25.0
2      935100.0  1950700.0  935200.0  1950800.0  126.765798  37.553815  25.0
3      935100.0  1950800.0  935200.0  1950900.0  126.765789  37.554716  25.0
4      935100.0  1950900.0  935200.0  1951000.0  126.765781  37.555618  25.0
...         ...        ...       ...        ...         ...        ...   ...
61645  972000.0  1949500.0  972100.0  1949600.0  127.183599  37.544858  25.0
61646  972000.0  1949600.0  972100.0  1949700.0  127.183595  37.545759  25.0
61647  972000.0  1949900.0  972100.0  1950000.0  127.183584  37.548463  25.0
61648  972000.0  1950100.0  972100.0  1950200.0  127.183576  37.550266  25.0
61649  972000.0  1950200.0  972100.0  1950300.0  127.183572  37.551167  25.0

[61650 rows x 7 columns]

# WeBin

In [29]:
webin = pd.read_csv(os.getcwd() + "/dataset/WeBin.csv")
webin

    Unnamed: 0                          add        Lat         Lng    Gu
0            0             서울시 강남구 영동대로 513  37.511824  127.059159   강남구
1            1            서울시 강남구 논현로 8길 21  37.474461  127.050454   강남구
2            2            서울시 강남구 선릉로 62길 9  37.497418  127.053378   강남구
3            3            서울시 강남구 일원로 3길 54  37.492396  127.084201   강남구
4            4  서울시 강서구 마곡중앙10로 30 엘지사이언스파크  37.563403  126.831230   강서구
5            5     서울시 강서구 마곡서1로 100 엠밸리6단지  37.565754  126.819623   강서구
6            6              서울시 성동구 응봉동 101  37.553168  127.033447   성동구
7            7             서울시 성동구 왕십리로 222  37.554504  127.046611   성동구
8            8             서울시 성동구 왕십리로5길 3  37.546403  127.044350   성동구
9            9              서울시 성동구 마장로 141  37.567875  127.025529   성동구
10          10    서울시 성동구 금호4가동 독서당로 46길 26  37.547179  127.022352   성동구
11          11         서울시 성동구 금호1가동 행당로 15  37.554860  127.021649   성동구
12          12         서울시 성동구 금호1가동 난계로 20  37.554129  127.024894   성동구
13          13       서울시 성동구 행당1동 고산자로10길 9  37.559180  127.034961   성동구
14          14             서울시 성동구 행당1동 139  37.558528  127.036135   성동구
15          15        서울시 성동구 행당1동 고산자로 270  37.563423  127.036965   성동구
16          16        서울시 성동구 용답동 용답중앙3길 10  37.566700  127.051304   성동구
17          17          서울시 성동구 사근동 사근동길 37  37.561500  127.045326   성동구
18          18     서울시 성동구 성수2가3동 광나루로2길 35  37.548223  127.055246   성동구
19          19        서울시 성동구 송정동 동일로43길 13  37.554533  127.069569   성동구
20          20        서울시 양천구 목동동로 81 해누리타운  37.515976  126.863855   양천구
21          21           서울시 양천구 목동중앙본로 120  37.546144  126.871701   양천구
22          22             서울시 중랑구 신내역로 165  37.616559  127.109756   중랑구
23          23          서울시 중랑구 양원역로 6가길 19  37.603291  127.109841   중랑구
24          24        서울시 중랑구 용마산로 86길 9-27  37.587366  127.096061   중랑구
25          25              서울시 중랑구 용마산로669  37.609769  127.098977   중랑구
26          26              서울시 중랑구 공릉로2가길5  37.612415  127.078479   중랑구
27          27               서울시 중랑구 동일로619  37.585753  127.079474   중랑구
28          28        서울시 중랑구 동일로101길 20-15  37.589773  127.079029   중랑구
29          29              서울시 중랑구 망우로 506  37.600232  127.108305   중랑구
30          30           서울시 중랑구 용마산로90길 28  37.586083  127.097203   중랑구
31          31           서울시 중랑구 중화1동 287-3  37.601148  127.080653   중랑구
32          32            서울시 중랑구 면목로35길 63  37.578600  127.081979   중랑구
33          33           서울시 중랑구 사가정로51길 48  37.582957  127.088069   중랑구
34          34           서울시 중랑구 신내로15길 197  37.615171  127.086906   중랑구
35          35            서울시 중랑구 중랑역로3길 28  37.595019  127.074891   중랑구
36          36           서울시 중랑구 망우로 75길 19  37.601726  127.104896   중랑구
37          37           서울시 중랑구 동일로114길 10  37.592892  127.080852   중랑구
38          38            서울시 중랑구 공릉로 2길 39  37.612895  127.079935   중랑구
39          39              서울시 중랑구 신내로 128  37.608941  127.097809   중랑구
40          40             서울시 중랑구 봉화산로 130  37.603191  127.088468   중랑구
41          41            서울시 중랑구 망우로67길 10  37.600561  127.101485   중랑구
42          42           서울시 중랑구 용마산로62길 43  37.578439  127.094612   중랑구
43          43            서울시 중랑구 겸재로61길 40  37.591900  127.094918   중랑구
44          44             서울시 중랑구 공릉로2길 47  37.612314  127.080672   중랑구
45          45           서울시 중랑구 사가정로71길 19  37.580837  127.095053   중랑구
46          46             서울시 중랑구 봉화산로 190  37.606265  127.094160   중랑구
47          47      서울시 중랑구 면목7동 사가정로50길 91  37.577108  127.084447   중랑구
48          48            서울시 중랑구 상봉중앙로1길 6  37.599838  127.087161   중랑구
49          49            서울시 영등포구 여의대로 128  37.527927  126.929241  영등포구
50          50               서울시 종로구 새문안로58  37.569275  126.971581   종로구
51          51                 서울시 중구 후암로98  37.553921  126.974900    중구

In [30]:
y = getCoordPair(webin, 'Lng', 'Lat')
secent_webin = haversine_wrapper(x, y)

61649

In [31]:
with open(os.getcwd() + "/npy_file/secent_webin.npy", 'wb') as f:
    np.save(f, np.array(secent_webin))

In [32]:
secent['위빈']=getCountOfPlace(secent_webin)
secent[secent['위빈']>0]

,left,bottom,right,top,xcoord,ycoord,네프론,위빈
2002,939600.0,1951900.0,939700.0,1952000.0,126.816643,37.564936,25.0,1.0
2003,939600.0,1952000.0,939700.0,1952100.0,126.816635,37.565838,25.0,1.0
2004,939600.0,1952100.0,939700.0,1952200.0,126.816627,37.566739,25.0,1.0
2081,939700.0,1951800.0,939800.0,1951900.0,126.817783,37.564042,25.0,1.0
2082,939700.0,1951900.0,939800.0,1952000.0,126.817775,37.564943,25.0,1.0
...,...,...,...,...,...,...,...,...
56835,965700.0,1957500.0,965800.0,1957600.0,127.111909,37.616752,25.0,1.0
56836,965700.0,1957600.0,965800.0,1957700.0,127.111904,37.617653,25.0,1.0
56837,965700.0,1957700.0,965800.0,1957800.0,127.111899,37.618554,25.0,1.0
56977,965800.0,1956000.0,965900.0,1956100.0,127.113112,37.603236,25.0,1.0
56992,965800.0,1957500.0,965900.0,1957600.0,127.113042,37.616756,25.0,1.0

# 씨샘

In [34]:
sssaem = pd.read_csv(os.getcwd() + "/dataset/Sssaem.csv")
sssaem

   Unnamed: 0                               add        Lat         Lng    Gu
0           0  서울 용산구 소월로2길 5 SustainableHabits  37.554786  126.976826   용산구
1           1                 서울 서대문구 이화여대2길 46  37.557394  126.948524  서대문구

In [35]:
y = getCoordPair(sssaem, 'Lng', 'Lat')
secent_sssaem = haversine_wrapper(x, y)

61649

In [36]:
with open(os.getcwd() + "/npy_file/secent_sssaem.npy", 'wb') as f:
    np.save(f, np.array(secent_sssaem))

In [37]:
secent['Sssaem']=getCountOfPlace(secent_sssaem)
secent[secent['Sssaem']>0]

,left,bottom,right,top,xcoord,ycoord,네프론,위빈,Sssaem
19990,951000.0,1950900.0,951100.0,1951000.0,126.945788,37.556600,25.0,0.0,1.0
19991,951000.0,1951000.0,951100.0,1951100.0,126.945782,37.557501,25.0,0.0,1.0
19992,951000.0,1951100.0,951100.0,1951200.0,126.945775,37.558403,25.0,0.0,1.0
20234,951100.0,1950800.0,951200.0,1950900.0,126.946927,37.555704,25.0,0.0,1.0
20235,951100.0,1950900.0,951200.0,1951000.0,126.946921,37.556605,25.0,0.0,1.0
20236,951100.0,1951000.0,951200.0,1951100.0,126.946914,37.557507,25.0,0.0,1.0
20237,951100.0,1951100.0,951200.0,1951200.0,126.946907,37.558408,25.0,0.0,1.0
20238,951100.0,1951200.0,951200.0,1951300.0,126.946901,37.559309,25.0,0.0,1.0
20478,951200.0,1950700.0,951300.0,1950800.0,126.948066,37.554808,25.0,0.0,1.0
20479,951200.0,1950800.0,951300.0,1950900.0,126.948059,37.555709,25.0,0.0,1.0
20480,951200.0,1950900.0,951300.0,1951000.0,126.948053,37.556611,25.0,0.0,1.0
20481,951200.0,1951000.0,951300.0,1951100.0,126.948046,37.557512,25.0,0.0,1.0
20482,951200.0,1951100.0,951300.0,1951200.0,126.948039,37.558413,25.0,0.0,1.0
20483,951200.0,1951200.0,951300.0,1951300.0,126.948033,37.559314,25.0,0.0,1.0
20724,951300.0,1950700.0,951400.0,1950800.0,126.949198,37.554813,25.0,0.0,1.0
20725,951300.0,1950800.0,951400.0,1950900.0,126.949192,37.555714,25.0,0.0,1.0
20726,951300.0,1950900.0,951400.0,1951000.0,126.949185,37.556616,25.0,0.0,1.0
20727,951300.0,1951000.0,951400.0,1951100.0,126.949178,37.557517,25.0,0.0,1.0
20728,951300.0,1951100.0,951400.0,1951200.0,126.949172,37.558418,25.0,0.0,1.0
20729,951300.0,1951200.0,951400.0,1951300.0,126.949165,37.559320,25.0,0.0,1.0
20970,951400.0,1950800.0,951500.0,1950900.0,126.950324,37.555720,25.0,0.0,1.0
20971,951400.0,1950900.0,951500.0,1951000.0,126.950317,37.556621,25.0,0.0,1.0
20972,951400.0,1951000.0,951500.0,1951100.0,126.950310,37.557522,25.0,0.0,1.0
20973,951400.0,1951100.0,951500.0,1951200.0,126.950304,37.558424,25.0,0.0,1.0
20974,951400.0,1951200.0,951500.0,1951300.0,126.950297,37.559325,25.0,0.0,1.0
21214,951500.0,1950900.0,951600.0,1951000.0,126.951449,37.556626,25.0,0.0,1.0
21215,951500.0,1951000.0,951600.0,1951100.0,126.951443,37.557528,25.0,0.0,1.0
21216,951500.0,1951100.0,951600.0,1951200.0,126.951436,37.558429,25.0,0.0,1.0
25610,953500.0,1950600.0,953600.0,1950700.0,126.974111,37.554025,25.0,1.0,1.0
25611,953500.0,1950700.0,953600.0,1950800.0,126.974105,37.554927,25.0,1.0,1.0
25612,953500.0,1950800.0,953600.0,1950900.0,126.974099,37.555828,25.0,1.0,1.0
25807,953600.0,1950500.0,953700.0,1950600.0,126.975250,37.553129,25.0,1.0,1.0
25808,953600.0,1950600.0,953700.0,1950700.0,126.975243,37.554030,25.0,1.0,1.0
25809,953600.0,1950700.0,953700.0,1950800.0,126.975237,37.554932,25.0,1.0,1.0
25810,953600.0,1950800.0,953700.0,1950900.0,126.975231,37.555833,25.0,1.0,1.0
25811,953600.0,1950900.0,953700.0,1951000.0,126.975224,37.556734,25.0,0.0,1.0
26004,953700.0,1950400.0,953800.0,1950500.0,126.976388,37.552233,25.0,1.0,1.0
26005,953700.0,1950500.0,953800.0,1950600.0,126.976382,37.553134,25.0,1.0,1.0
26006,953700.0,1950600.0,953800.0,1950700.0,126.976376,37.554035,25.0,1.0,1.0
26007,953700.0,1950700.0,953800.0,1950800.0,126.976369,37.554937,25.0,1.0,1.0
26008,953700.0,1950800.0,953800.0,1950900.0,126.976363,37.555838,25.0,1.0,1.0
26009,953700.0,1950900.0,953800.0,1951000.0,126.976357,37.556739,25.0,0.0,1.0
26202,953800.0,1950400.0,953900.0,1950500.0,126.977520,37.552238,25.0,1.0,1.0
26203,953800.0,1950500.0,953900.0,1950600.0,126.977514,37.553139,25.0,1.0,1.0
26204,953800.0,1950600.0,953900.0,1950700.0,126.977508,37.554041,25.0,1.0,1.0
26205,953800.0,1950700.0,953900.0,1950800.0,126.977501,37.554942,25.0,1.0,1.0
26206,953800.0,1950800.0,953900.0,1950900.0,126.977495,37.555843,25.0,0.0,1.0
26207,953800.0,1950900.0,953900.0,1951000.0,126.977489,37.556744,25.0,0.0,1.0
26401,953900.0,1950500.0,954000.0,1950600.0,126.978646,37.553144,25.0,0.0,1.0
26402,953900.0,1950600.0,954000.0,1950700.0,126.978640,37.554046,25.0,0.0,1.0
26403,953900.0,1950700.0,954000.0,1950800.0,126.978633,37.554947,25.0,0.0,1.0
26404,953900.0,1950800.0,954000.0,1950900.0,126.978627,37.555848,25.0,0.0,1.0
26405,953900.0,1950900.0,954000.0,1951000.0,126.978621,37.556749,25.0,0.0,1.0
26601,954000.0,1950600.0,954100.0,1950700.0,126.979772,37.554051,25.0,0.0,1.0
26602,954000.0,1950700.0,954100.0,1950800.0,126.979766,37.554952,25.0,0.0,1.0
26603,954000.0,1950800.0,954100.0,1950900.0,126.979759,37.555853,25.0,0.0,1.0

In [39]:
x = np.asarray([ [lng, lat] for lng, lat in zip(secent['xcoord'], secent['ycoord'])])

In [40]:
yuk = pd.read_excel(os.getcwd() + "/dataset/역+위도경도.xlsx", index_col=0)
yuk

    전철역코드     전철역명      호선  외부코드        lat         lng
0    0154     종로5가    01호선   129  37.570831  127.002351
1    0155      동대문    01호선   128  37.572007  127.010966
2    0156      신설동    01호선   126  37.575326  127.024850
3    0157      제기동    01호선   125  37.578176  127.034591
4    0158      청량리    01호선   124  37.581381  127.048958
..    ...      ...     ...   ...        ...         ...
743  4512  운동장.송담대   용인경전철  Y120  37.237890  127.209046
744  4513       고진   용인경전철  Y121  37.244643  127.214168
745  4514       보평   용인경전철  Y123  37.262406  127.223526
746  4515       둔전   용인경전철  Y125  37.267201  127.213619
747  4601       발곡  의정부경전철  U110  37.726992  127.052910

[748 rows x 6 columns]

# 역

In [41]:
def getCoordPair(df, lng_name, lat_name):
  return np.asarray( [ [lng, lat] for lng, lat in zip(df[lng_name], df[lat_name])] )

In [42]:
y = getCoordPair(yuk, 'lng', 'lat')

In [43]:
secent_yuk = haversine_wrapper(x, y)

61649

In [44]:
with open(os.getcwd() + "/npy_file/secent_yuk.npy", 'wb') as f:
    np.save(f, np.array(secent_yuk))

In [45]:
secent['역']=getCountOfPlace(secent_yuk)
secent[secent['역']>0]

,left,bottom,right,top,xcoord,ycoord,네프론,위빈,Sssaem,역
663,937600.0,1953300.0,937700.0,1953400.0,126.793879,37.577421,25.0,0.0,0.0,1.0
664,937600.0,1953400.0,937700.0,1953500.0,126.793870,37.578323,25.0,0.0,0.0,1.0
665,937600.0,1953500.0,937700.0,1953600.0,126.793862,37.579224,25.0,0.0,0.0,1.0
717,937700.0,1953200.0,937800.0,1953300.0,126.795020,37.576527,25.0,0.0,0.0,1.0
718,937700.0,1953300.0,937800.0,1953400.0,126.795011,37.577428,25.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
61546,971500.0,1950800.0,971600.0,1950900.0,127.177889,37.556560,25.0,0.0,0.0,1.0
61547,971500.0,1950900.0,971600.0,1951000.0,127.177885,37.557461,25.0,0.0,0.0,1.0
61548,971500.0,1951000.0,971600.0,1951100.0,127.177881,37.558363,25.0,0.0,0.0,1.0
61549,971500.0,1951100.0,971600.0,1951200.0,127.177877,37.559264,25.0,0.0,0.0,1.0
61577,971600.0,1950900.0,971700.0,1951000.0,127.179017,37.557464,25.0,0.0,0.0,1.0

# 공공시설

In [46]:
x = np.asarray([ [lng, lat] for lng, lat in zip(secent['xcoord'], secent['ycoord'])])

In [47]:
gonggongsisul = pd.read_csv(os.getcwd() + "/dataset/BULD_공공시설.csv", encoding='CP949')
gonggongsisul

         xcoord     ycoord
0    127.016343  37.570719
1    127.015628  37.577823
2    126.984789  37.580051
3    126.981857  37.585005
4    126.970621  37.584092
..          ...        ...
533  126.855803  37.524560
534  126.881717  37.537183
535  127.010860  37.587939
536  127.068523  37.658812
537  127.041283  37.470645

[538 rows x 2 columns]

In [48]:
def getCoordPair(df, lng_name, lat_name):
  return np.asarray( [ [lng, lat] for lng, lat in zip(df[lng_name], df[lat_name])] )

In [49]:
y = getCoordPair(gonggongsisul, 'xcoord', 'ycoord')

In [50]:
secent_gonggongsisul = haversine_wrapper(x, y)

61649

In [51]:
with open(os.getcwd() + "/npy_file/secent_gonggongsisul.npy", 'wb') as f:
    np.save(f, np.array(secent_gonggongsisul))

In [ ]:
secent['공공시설']=getCountOfPlace(secent_gonggongsisul)
secent[secent['공공시설']>0]

# 공원

In [ ]:
x = np.asarray([ [lng, lat] for lng, lat in zip(secent['xcoord'], secent['ycoord'])])

In [54]:
gongwon = pd.read_csv(os.getcwd() + "/dataset/서울시 주요 공원현황.csv", encoding='CP949')
gongwon

,연번,공원명,공원개요,면적,개원일,주요시설,주요식물,안내도,오시는길,이용시참고사항,이미지,지역,공원주소,관리부서,전화번호,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84),바로가기
0,1,남산도시자연공원,남산공원은 도심에 위치하여 서울시민에게 맑은 공기를 제공하는 자연휴식처이며 산책 꽃...,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,기반시설 : 광장 45950㎡ 도로 108530㎡ 산책로 6.7㎞ (북측:3.7㎞/...,소나무 단풍 아카시아 상수리나무 등 191종 2881870주,http://parks.seoul.go.kr/upload/seditorMulti/2...,명동역(남산케이블카 와룡묘 서울애니메이션센터 방면) 도보 명동역 3번출구 → 퍼시픽...,남산공원 차량통행 금지안내 2005년 5월 1일부터 남산공원에 일반승용차 택시 통행...,http://parks.seoul.go.kr/file/info/view.do?fId...,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,02-3783-5900,198364.107000,4.503956e+05,126.990377,37.550140,http://parks.seoul.go.kr/template/sub/namsan.do
1,2,길동생태공원,길동생태공원은 생물의 서식처를 제공하고 종다양성을 증진시키며 자연생태계의 생물들을 ...,80683㎡,1999.5.20,탐방객안내소 야외전시대 관찰대 목재데크 조류관찰대 길동생태문화센터,소나무 보리수 등 64종 31800주 산국 부들 등 138종 192800본,http://parks.seoul.go.kr/template/common/img/p...,NaN,매주 월요일은 휴관입니다 사전예약 후 입장하실 수 있습니다. ▶ 인터넷 예약 바로가...,http://parks.seoul.go.kr/file/info/view.do?fId...,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),동부공원녹지사업소 길동생태공원,02-489-2770,213554.120000,4.488527e+05,127.154779,37.540394,http://parks.seoul.go.kr/template/sub/gildong.do
2,3,서울대공원,서울대공원은 세계 각국의 야생동물들이 살아 숨 쉬는 서울동물원과 다양한 재미와 즐거...,9132690m²,1984.5.1,동물원 식물원 테마가든(장미원 어린이동물원 피크닉장) 치유숲 산림욕장 캠핑장 국립현...,NaN,NaN,지하철 4호선 대공원역 하차(2번 출구) 도보 15분 정도 문의처 02)500-73...,일반사항 공원을 깨끗하게 이용합니다. 대중교통을 이용해 주세요. 기념물 시설물 풀과...,http://parks.seoul.go.kr/file/info/view.do?fId...,과천시,경기도 과천시 대공원광장로 102,전략기획실,02-500-7032,200994.267000,4.371640e+05,127.019847,37.426449,http://grandpark.seoul.go.kr/
3,4,서울숲,당초 골프장 승마장 등이 있던 뚝섬일대를 주거업무 지역으로 개발할 경우 약 4조원에...,480994㎡,2005.6.18,4개 테마공원: 문화예술공원 자연생태숲 자연체험학습원 습지생태원 주요시설: 가족마당...,수 목 : 소나무 섬잣나무 계수나무 외 95종 415795주 식물원 : 선인장 등 ...,http://parks.seoul.go.kr/template/common/img/p...,NaN,지하철 분당선 서울숲역 3번출구 도보로 약5분 2호선 뚝섬역 8번출구 도보로 약 1...,http://parks.seoul.go.kr/file/info/view.do?fId...,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),서울숲 관리사무소,02-460-2905,203695.432000,4.492907e+05,127.041798,37.543072,http://parks.seoul.go.kr/template/sub/seoulfor...
4,5,월드컵공원,월드컵공원은 서울의 서쪽에 위치하여 1978년부터 1993년까지 15년간 서울시민이...,2284085㎡,2002.5.1,평화의 공원 월드컵공원전시관(879㎡) 유니세프광장(2400㎡) 평화광장(5217㎡...,NaN,http://parks.seoul.go.kr/template/common/img/p...,지하철 6호선 월드컵경기장역 하차 → 1번 출구로 나온 후 직진 → 큰길(도로)이 ...,일반사항 공원을 깨끗하게 이용합니다. 대중교통을 이용해 주세요. 기념물 시설물 풀과...,http://parks.seoul.go.kr/file/info/view.do?fId...,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),월드컵공원,02-300-5500,190658.070000,4.515988e+05,126.878907,37.571805,http://parks.seoul.go.kr/template/sub/worldcup...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,128,용마도시자연공원(사가정공원),2005년 4월 13일 개장한 사가정공원은 면목동 산 50번지 일대의 면목약수터지구...,109635㎡,2005.4.13,피크닉장 놀이터 체력단련장 체육관,NaN,NaN,NaN,NaN,http://parks.seoul.go.kr/file/info/view.do?fId...,중랑구,서울특별시 중랑구 면목7동 산50,중랑구청 공원녹지과,02-2094-2993,NaN,NaN,127.095997,37.579762,NaN
128,129,문화비축기지,매봉산자락에 위치한 문화비축기지는 폐산업시설인 '마포석유비축기지'를 재생하여 역사적...,140022㎡,2017.9.1,6개의탱크와 문화마당 녹지,NaN,http://parks.seoul.go.kr/upload/seditorMulti/2...,NaN,? 일반사항 - 공원은 연중무휴이나 전시관은 월요일 휴관입니다. - 공원을 ...,http://parks.seoul.go.kr/file/info/view.do?fId...,마포구,서울특별시 마포구 증산로 87,문화비축기지,02-376-8410,114264.460400,3.712093e+06,126.893246,37.571718,http://parks.seoul.go.kr/template/sub/culturet...
129,130,경춘선숲길,일제 강점기때 우리 민족의 자본으로 만든 최초의 철도시설로 1939년 7월 25일 ...,211392㎡,NaN,조경시설 : 텃밭 잔디광장 철길 산책로 등 건축시설 : 무궁화호 객차(방문자센터) ...,NaN,NaN,지하철 이용시 지하철 7호선 하계역 4번출구 미성/장미아파트 도로 450m직진 지하...,○ 6.3km (시 작 점 : 육사삼거리 중간지점 : 화랑대사거리 → 화랑대...,http://parks.seoul.go.kr/file/info/view.do?fId...,NaN,노원구 공릉2동 산 82-2,중부공원녹지사업소,02-2289-4012,127.076482,3.762708e+01,127.076482,37.627077,NaN
130,131,율현공원,? 율현공원은 보금자리주택 세곡2지구 사업의 결과물로 만들어졌다. 공원은 주택지구의...,157535㎡,2016.11.1,관리시설 : 사무실 조경시설 : 정자(4개) 조형쉼터(10개) 조형파고라(3개) 수...,수목 : 소나무 이팝나무 등 110종 143069주 초화 : 맥문동 벌개미취 등...,http://parks.seoul.go.kr/upload/seditorMulti/2...,NaN,공원 인근에 서울공항 활주로가 위치하고 있어 공원 내에서 드론을 날리거나 헬륨가스 ...,http://parks.seoul.go.kr/file/info/view.do?fId...,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),동부공원녹지사업소,02-459-9452,NaN,NaN,127.115594,37.472332,NaN
131,132,서울로7017,서울로7017은 70년대 준공된 서울역 고가가 안전에 문제점이 도출되면서 철거가 될...,NaN,NaN,NaN,NaN,NaN,중림 만리동(서울로 종점부에서 진입) 지하철- 충정로(경기대입구) - 2 5호선 :...,NaN,http://parks.seoul.go.kr/file/info/view.do?fId...,중구,서울로7017,서울로운영단,02-313-7017,NaN,NaN,126.971561,37.556511,NaN

In [55]:
def getCoordPair(df, lng_name, lat_name):
  return np.asarray( [ [lng, lat] for lng, lat in zip(df[lng_name], df[lat_name])] )

In [56]:
y = getCoordPair(gongwon, 'X좌표(WGS84)', 'Y좌표(WGS84)')

In [57]:
secent_gongwon = haversine_wrapper(x, y)

61649

In [59]:
with open(os.getcwd() + "/npy_file/secent_gongwon.npy", 'wb') as f:
    np.save(f, np.array(secent_gongwon))

In [60]:
secent['공원']=getCountOfPlace(secent_gongwon)
secent[secent['공원']>0]

,left,bottom,right,top,xcoord,ycoord,네프론,위빈,Sssaem,역,공원
1237,938500.0,1953600.0,938600.0,1953700.0,126.804046,37.580186,25.0,0.0,0.0,0.0,1.0
1238,938500.0,1953700.0,938600.0,1953800.0,126.804037,37.581087,25.0,0.0,0.0,0.0,1.0
1239,938500.0,1953800.0,938600.0,1953900.0,126.804029,37.581988,25.0,0.0,0.0,0.0,1.0
1240,938500.0,1953900.0,938600.0,1954000.0,126.804021,37.582890,25.0,0.0,0.0,0.0,1.0
1305,938600.0,1953500.0,938700.0,1953600.0,126.805187,37.579291,25.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
61243,970700.0,1951400.0,970800.0,1951500.0,127.168807,37.561943,25.0,0.0,0.0,0.0,1.0
61278,970800.0,1951000.0,970900.0,1951100.0,127.169955,37.558341,25.0,0.0,0.0,1.0,1.0
61279,970800.0,1951100.0,970900.0,1951200.0,127.169951,37.559242,25.0,0.0,0.0,1.0,1.0
61280,970800.0,1951200.0,970900.0,1951300.0,127.169947,37.560143,25.0,0.0,0.0,0.0,1.0
61281,970800.0,1951300.0,970900.0,1951400.0,127.169943,37.561045,25.0,0.0,0.0,0.0,1.0

# 정류소

In [63]:
busstn = pd.read_csv(os.getcwd() + "/dataset/서울시버스정류소좌표데이터(2021.01.14.).csv", encoding='CP949')
busstn

            표준ID  ARS-ID           정류소명         X좌표        Y좌표
0      100000001    1001        종로2가사거리  126.987786  37.569764
1      100000002    1002    창경궁.서울대학교병원  126.996520  37.579179
2      100000003    1003      명륜3가.성대입구  126.998290  37.582709
3      100000004    1004       종로2가.삼일교  126.987507  37.568582
4      100000005    1005  혜화동로터리.여운형활동터  127.001694  37.586230
...          ...     ...            ...         ...        ...
10916  124000334   25995          우성아파트  127.139326  37.550442
10917  124000333   25996          우성아파트  127.140052  37.550620
10918  124000332   25997           조일약국  127.123477  37.533686
10919  124000331   25998           성내시장  127.125410  37.536199
10920  124000330   25999    천호우체국.로데오거리  127.127354  37.540390

[10921 rows x 5 columns]

In [64]:
x = np.asarray([ [lng, lat] for lng, lat in zip(secent['xcoord'], secent['ycoord'])])

In [66]:
def getCoordPair(df, lng_name, lat_name):
  return np.asarray( [ [lng, lat] for lng, lat in zip(df[lng_name], df[lat_name])] )

In [67]:
y = getCoordPair(busstn, 'X좌표', 'Y좌표')

In [68]:
secent_busstn = haversine_wrapper(x, y)

61649

In [70]:
with open(os.getcwd() + "/npy_file/secent_busstn.npy", 'wb') as f:
    np.save(f, np.array(secent_busstn))

In [72]:
secent['버스정류소']=getCountOfPlace(secent_busstn)
secent[secent['버스정류소']>0]

,left,bottom,right,top,xcoord,ycoord,네프론,위빈,Sssaem,역,공원,버스정류소
4,935100.0,1950900.0,935200.0,1951000.0,126.765781,37.555618,25.0,0.0,0.0,0.0,0.0,1.0
5,935100.0,1951000.0,935200.0,1951100.0,126.765772,37.556519,25.0,0.0,0.0,0.0,0.0,2.0
9,935200.0,1950800.0,935300.0,1950900.0,126.766922,37.554723,25.0,0.0,0.0,0.0,0.0,2.0
10,935200.0,1950900.0,935300.0,1951000.0,126.766913,37.555625,25.0,0.0,0.0,0.0,0.0,2.0
11,935200.0,1951000.0,935300.0,1951100.0,126.766904,37.556526,25.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
61632,971800.0,1951500.0,971900.0,1951600.0,127.181258,37.562879,25.0,0.0,0.0,0.0,0.0,5.0
61633,971800.0,1951600.0,971900.0,1951700.0,127.181254,37.563780,25.0,0.0,0.0,0.0,0.0,5.0
61642,971900.0,1951100.0,972000.0,1951200.0,127.182406,37.559276,25.0,0.0,0.0,0.0,0.0,3.0
61643,971900.0,1951200.0,972000.0,1951300.0,127.182402,37.560178,25.0,0.0,0.0,0.0,0.0,5.0
61644,971900.0,1951300.0,972000.0,1951400.0,127.182398,37.561079,25.0,0.0,0.0,0.0,0.0,5.0

# 합치기

In [74]:
sisul = secent
sisul['네+위+쓰'] = sisul['네프론']+sisul['위빈']+sisul['Sssaem']
sisul['네+쓰'] = sisul['네프론']+sisul['Sssaem']
sisul.to_excel(os.getcwd() + "/dataset/네위쓰.xlsx")

In [79]:
secent.to_excel(os.getcwd() + "\\dataset\\서울시격자중심점_좌표수정_회수로봇.xlsx")