In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def haversine_np(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [ ]:
def haversine_wrapper(x, y):
  m, k = x.shape
  n, kk = y.shape
  result = np.empty((m,n),dtype=float)
  for i in range(m):
    print('\r'+str(i), end='')
    for j in range(n):
      result[i,j]=haversine_np(x[i,0], x[i,1], y[j,0], y[j,1])
  return result

In [ ]:
def getCountOfPlace(secent_place, meter=300):
  #secent_place_c = np.copy(secent_place)
  mask1 = secent_place*1000<=meter
  secent_place[mask1]=1
  secent_place[~mask1]=0
  return np.sum(secent_place, axis=-1)

In [ ]:
secent=pd.read_csv("/content/서울시 격자 중심점_좌표변환.csv")

In [ ]:
secent

           left     bottom     right        top      xcoord     ycoord
0      935000.0  1950800.0  935100.0  1950900.0  126.764657  37.554709
1      935000.0  1950900.0  935100.0  1951000.0  126.764649  37.555611
2      935100.0  1950700.0  935200.0  1950800.0  126.765798  37.553815
3      935100.0  1950800.0  935200.0  1950900.0  126.765789  37.554716
4      935100.0  1950900.0  935200.0  1951000.0  126.765781  37.555618
...         ...        ...       ...        ...         ...        ...
61645  972000.0  1949500.0  972100.0  1949600.0  127.183599  37.544858
61646  972000.0  1949600.0  972100.0  1949700.0  127.183595  37.545759
61647  972000.0  1949900.0  972100.0  1950000.0  127.183584  37.548463
61648  972000.0  1950100.0  972100.0  1950200.0  127.183576  37.550266
61649  972000.0  1950200.0  972100.0  1950300.0  127.183572  37.551167

[61650 rows x 6 columns]

In [ ]:
x = np.asarray([ [lng, lat] for lng, lat in zip(secent['xcoord'], secent['ycoord'])])

In [ ]:
nepron = pd.read_csv("/content/네프론.csv", encoding='CP949')

In [ ]:
nepron

    Unnamed: 0  ...     3
0            0  ...   도봉구
1            1  ...   강서구
2            2  ...   동작구
3            3  ...   동작구
4            4  ...   동작구
5            5  ...   강동구
6            6  ...   양천구
7            7  ...   양천구
8            8  ...   송파구
9            9  ...   송파구
10          10  ...    중구
11          11  ...   성동구
12          12  ...   강동구
13          13  ...   관악구
14          14  ...   송파구
15          15  ...   강서구
16          16  ...   강서구
17          17  ...   관악구
18          18  ...   강동구
19          19  ...  영등포구
20          20  ...   중랑구
21          21  ...   중랑구
22          22  ...   강동구
23          23  ...   광진구
24          24  ...   광진구

[25 rows x 5 columns]

In [ ]:
def getCoordPair(df, lng_name, lat_name):
  return np.asarray( [ [lng, lat] for lng, lat in zip(df[lng_name], df[lat_name])] )

In [ ]:
y = getCoordPair(nepron, '2.00000', '1.00000')

In [ ]:
secent_nepron = haversine_wrapper(x, y)

61649

In [ ]:
with open('/content/drive/MyDrive/secent_nepron.npy', 'wb') as f:
    np.save(f, np.array(secent_nepron))

In [ ]:
secent['네프론']=getCountOfPlace(secent_nepron)
secent[secent['네프론']>0]

           left     bottom     right        top      xcoord     ycoord  네프론
4397   941700.0  1950600.0  941800.0  1950700.0  126.840524  37.553355  1.0
4513   941800.0  1950400.0  941900.0  1950500.0  126.841672  37.551559  1.0
4514   941800.0  1950500.0  941900.0  1950600.0  126.841664  37.552460  1.0
4515   941800.0  1950600.0  941900.0  1950700.0  126.841656  37.553361  1.0
4516   941800.0  1950700.0  941900.0  1950800.0  126.841648  37.554262  1.0
...         ...        ...       ...        ...         ...        ...  ...
60934  969900.0  1951400.0  970000.0  1951500.0  127.159749  37.561917  1.0
60935  969900.0  1951500.0  970000.0  1951600.0  127.159745  37.562818  1.0
60936  969900.0  1951600.0  970000.0  1951700.0  127.159741  37.563720  1.0
60976  970000.0  1951400.0  970100.0  1951500.0  127.160881  37.561920  1.0
60977  970000.0  1951500.0  970100.0  1951600.0  127.160877  37.562822  1.0

[693 rows x 7 columns]

In [ ]:
webin = pd.read_csv("/content/WeBin.csv")

In [ ]:
webin

    Unnamed: 0                          add        Lat         Lng    Gu
0            0             서울시 강남구 영동대로 513  37.511824  127.059159   강남구
1            1            서울시 강남구 논현로 8길 21  37.474461  127.050454   강남구
2            2            서울시 강남구 선릉로 62길 9  37.497418  127.053378   강남구
3            3            서울시 강남구 일원로 3길 54  37.492396  127.084201   강남구
4            4  서울시 강서구 마곡중앙10로 30 엘지사이언스파크  37.563403  126.831230   강서구
5            5     서울시 강서구 마곡서1로 100 엠밸리6단지  37.565754  126.819623   강서구
6            6              서울시 성동구 응봉동 101  37.553168  127.033447   성동구
7            7             서울시 성동구 왕십리로 222  37.554504  127.046611   성동구
8            8             서울시 성동구 왕십리로5길 3  37.546403  127.044350   성동구
9            9              서울시 성동구 마장로 141  37.567875  127.025529   성동구
10          10    서울시 성동구 금호4가동 독서당로 46길 26  37.547179  127.022352   성동구
11          11         서울시 성동구 금호1가동 행당로 15  37.554860  127.021649   성동구
12          12         서울시 성동구 금호1가동 난계로 20  37.554129  127.024894   성동구
13          13       서울시 성동구 행당1동 고산자로10길 9  37.559180  127.034961   성동구
14          14             서울시 성동구 행당1동 139  37.558528  127.036135   성동구
15          15        서울시 성동구 행당1동 고산자로 270  37.563423  127.036965   성동구
16          16        서울시 성동구 용답동 용답중앙3길 10  37.566700  127.051304   성동구
17          17          서울시 성동구 사근동 사근동길 37  37.561500  127.045326   성동구
18          18     서울시 성동구 성수2가3동 광나루로2길 35  37.548223  127.055246   성동구
19          19        서울시 성동구 송정동 동일로43길 13  37.554533  127.069569   성동구
20          20        서울시 양천구 목동동로 81 해누리타운  37.515976  126.863855   양천구
21          21           서울시 양천구 목동중앙본로 120  37.546144  126.871701   양천구
22          22             서울시 중랑구 신내역로 165  37.616559  127.109756   중랑구
23          23          서울시 중랑구 양원역로 6가길 19  37.603291  127.109841   중랑구
24          24        서울시 중랑구 용마산로 86길 9-27  37.587366  127.096061   중랑구
25          25              서울시 중랑구 용마산로669  37.609769  127.098977   중랑구
26          26              서울시 중랑구 공릉로2가길5  37.612415  127.078479   중랑구
27          27               서울시 중랑구 동일로619  37.585753  127.079474   중랑구
28          28        서울시 중랑구 동일로101길 20-15  37.589773  127.079029   중랑구
29          29              서울시 중랑구 망우로 506  37.600232  127.108305   중랑구
30          30           서울시 중랑구 용마산로90길 28  37.586083  127.097203   중랑구
31          31           서울시 중랑구 중화1동 287-3  37.601148  127.080653   중랑구
32          32            서울시 중랑구 면목로35길 63  37.578600  127.081979   중랑구
33          33           서울시 중랑구 사가정로51길 48  37.582957  127.088069   중랑구
34          34           서울시 중랑구 신내로15길 197  37.615171  127.086906   중랑구
35          35            서울시 중랑구 중랑역로3길 28  37.595019  127.074891   중랑구
36          36           서울시 중랑구 망우로 75길 19  37.601726  127.104896   중랑구
37          37           서울시 중랑구 동일로114길 10  37.592892  127.080852   중랑구
38          38            서울시 중랑구 공릉로 2길 39  37.612895  127.079935   중랑구
39          39              서울시 중랑구 신내로 128  37.608941  127.097809   중랑구
40          40             서울시 중랑구 봉화산로 130  37.603191  127.088468   중랑구
41          41            서울시 중랑구 망우로67길 10  37.600561  127.101485   중랑구
42          42           서울시 중랑구 용마산로62길 43  37.578439  127.094612   중랑구
43          43            서울시 중랑구 겸재로61길 40  37.591900  127.094918   중랑구
44          44             서울시 중랑구 공릉로2길 47  37.612314  127.080672   중랑구
45          45           서울시 중랑구 사가정로71길 19  37.580837  127.095053   중랑구
46          46             서울시 중랑구 봉화산로 190  37.606265  127.094160   중랑구
47          47      서울시 중랑구 면목7동 사가정로50길 91  37.577108  127.084447   중랑구
48          48            서울시 중랑구 상봉중앙로1길 6  37.599838  127.087161   중랑구
49          49            서울시 영등포구 여의대로 128  37.527927  126.929241  영등포구
50          50               서울시 종로구 새문안로58  37.569275  126.971581   종로구
51          51                 서울시 중구 후암로98  37.553921  126.974900    중구

In [ ]:
y = getCoordPair(webin, 'Lng', 'Lat')
secent_webin = haversine_wrapper(x, y)

61649

In [ ]:
with open('/content/drive/MyDrive/secent_webin.npy', 'wb') as f:
    np.save(f, np.array(secent_webin))
secent['위빈']=getCountOfPlace(secent_webin)
secent[secent['위빈']>0]

           left     bottom     right  ...     ycoord  네프론   위빈
2002   939600.0  1951900.0  939700.0  ...  37.564936  0.0  1.0
2003   939600.0  1952000.0  939700.0  ...  37.565838  0.0  1.0
2004   939600.0  1952100.0  939700.0  ...  37.566739  0.0  1.0
2081   939700.0  1951800.0  939800.0  ...  37.564042  0.0  1.0
2082   939700.0  1951900.0  939800.0  ...  37.564943  0.0  1.0
...         ...        ...       ...  ...        ...  ...  ...
56835  965700.0  1957500.0  965800.0  ...  37.616752  0.0  1.0
56836  965700.0  1957600.0  965800.0  ...  37.617653  0.0  1.0
56837  965700.0  1957700.0  965800.0  ...  37.618554  0.0  1.0
56977  965800.0  1956000.0  965900.0  ...  37.603236  0.0  1.0
56992  965800.0  1957500.0  965900.0  ...  37.616756  0.0  1.0

[1275 rows x 8 columns]

In [ ]:
sssaem = pd.read_csv("/content/Sssaem.csv")

In [ ]:
sssaem

   Unnamed: 0                               add        Lat         Lng    Gu
0           0  서울 용산구 소월로2길 5 SustainableHabits  37.554786  126.976826   용산구
1           1                 서울 서대문구 이화여대2길 46  37.557394  126.948524  서대문구

In [ ]:
y = getCoordPair(sssaem, 'Lng', 'Lat')
secent_sssaem = haversine_wrapper(x, y)

61649

In [ ]:
with open('/content/drive/MyDrive/secent_sssaem.npy', 'wb') as f:
    np.save(f, np.array(secent_sssaem))
secent['Sssaem']=getCountOfPlace(secent_sssaem)
secent[secent['Sssaem']>0]

           left     bottom     right        top  ...     ycoord  네프론   위빈  Sssaem
19990  951000.0  1950900.0  951100.0  1951000.0  ...  37.556600  0.0  0.0     1.0
19991  951000.0  1951000.0  951100.0  1951100.0  ...  37.557501  0.0  0.0     1.0
19992  951000.0  1951100.0  951100.0  1951200.0  ...  37.558403  0.0  0.0     1.0
20234  951100.0  1950800.0  951200.0  1950900.0  ...  37.555704  0.0  0.0     1.0
20235  951100.0  1950900.0  951200.0  1951000.0  ...  37.556605  0.0  0.0     1.0
20236  951100.0  1951000.0  951200.0  1951100.0  ...  37.557507  0.0  0.0     1.0
20237  951100.0  1951100.0  951200.0  1951200.0  ...  37.558408  0.0  0.0     1.0
20238  951100.0  1951200.0  951200.0  1951300.0  ...  37.559309  0.0  0.0     1.0
20478  951200.0  1950700.0  951300.0  1950800.0  ...  37.554808  0.0  0.0     1.0
20479  951200.0  1950800.0  951300.0  1950900.0  ...  37.555709  0.0  0.0     1.0
20480  951200.0  1950900.0  951300.0  1951000.0  ...  37.556611  0.0  0.0     1.0
20481  951200.0  1951000.0  951300.0  1951100.0  ...  37.557512  0.0  0.0     1.0
20482  951200.0  1951100.0  951300.0  1951200.0  ...  37.558413  0.0  0.0     1.0
20483  951200.0  1951200.0  951300.0  1951300.0  ...  37.559314  0.0  0.0     1.0
20724  951300.0  1950700.0  951400.0  1950800.0  ...  37.554813  0.0  0.0     1.0
20725  951300.0  1950800.0  951400.0  1950900.0  ...  37.555714  0.0  0.0     1.0
20726  951300.0  1950900.0  951400.0  1951000.0  ...  37.556616  0.0  0.0     1.0
20727  951300.0  1951000.0  951400.0  1951100.0  ...  37.557517  0.0  0.0     1.0
20728  951300.0  1951100.0  951400.0  1951200.0  ...  37.558418  0.0  0.0     1.0
20729  951300.0  1951200.0  951400.0  1951300.0  ...  37.559320  0.0  0.0     1.0
20970  951400.0  1950800.0  951500.0  1950900.0  ...  37.555720  0.0  0.0     1.0
20971  951400.0  1950900.0  951500.0  1951000.0  ...  37.556621  0.0  0.0     1.0
20972  951400.0  1951000.0  951500.0  1951100.0  ...  37.557522  0.0  0.0     1.0
20973  951400.0  1951100.0  951500.0  1951200.0  ...  37.558424  0.0  0.0     1.0
20974  951400.0  1951200.0  951500.0  1951300.0  ...  37.559325  0.0  0.0     1.0
21214  951500.0  1950900.0  951600.0  1951000.0  ...  37.556626  0.0  0.0     1.0
21215  951500.0  1951000.0  951600.0  1951100.0  ...  37.557528  0.0  0.0     1.0
21216  951500.0  1951100.0  951600.0  1951200.0  ...  37.558429  0.0  0.0     1.0
25610  953500.0  1950600.0  953600.0  1950700.0  ...  37.554025  0.0  1.0     1.0
25611  953500.0  1950700.0  953600.0  1950800.0  ...  37.554927  0.0  1.0     1.0
25612  953500.0  1950800.0  953600.0  1950900.0  ...  37.555828  0.0  1.0     1.0
25807  953600.0  1950500.0  953700.0  1950600.0  ...  37.553129  0.0  1.0     1.0
25808  953600.0  1950600.0  953700.0  1950700.0  ...  37.554030  0.0  1.0     1.0
25809  953600.0  1950700.0  953700.0  1950800.0  ...  37.554932  0.0  1.0     1.0
25810  953600.0  1950800.0  953700.0  1950900.0  ...  37.555833  0.0  1.0     1.0
25811  953600.0  1950900.0  953700.0  1951000.0  ...  37.556734  0.0  0.0     1.0
26004  953700.0  1950400.0  953800.0  1950500.0  ...  37.552233  0.0  1.0     1.0
26005  953700.0  1950500.0  953800.0  1950600.0  ...  37.553134  0.0  1.0     1.0
26006  953700.0  1950600.0  953800.0  1950700.0  ...  37.554035  0.0  1.0     1.0
26007  953700.0  1950700.0  953800.0  1950800.0  ...  37.554937  0.0  1.0     1.0
26008  953700.0  1950800.0  953800.0  1950900.0  ...  37.555838  0.0  1.0     1.0
26009  953700.0  1950900.0  953800.0  1951000.0  ...  37.556739  0.0  0.0     1.0
26202  953800.0  1950400.0  953900.0  1950500.0  ...  37.552238  0.0  1.0     1.0
26203  953800.0  1950500.0  953900.0  1950600.0  ...  37.553139  0.0  1.0     1.0
26204  953800.0  1950600.0  953900.0  1950700.0  ...  37.554041  0.0  1.0     1.0
26205  953800.0  1950700.0  953900.0  1950800.0  ...  37.554942  0.0  1.0     1.0
26206  953800.0  1950800.0  953900.0  1950900.0  ...  37.555843  0.0  0.0     1.0
26207  953800.0  1950900.0  953900.0  1951000.0  ...  37.556744  0.0  0.0     1.0
26401  953900.0  1950500.0  954000.0  1950600.0  ...  37.553144  0.0  0.0     1.0
26402  953900.0  1950600.0  954000.0  1950700.0  ...  37.554046  0.0  0.0     1.0
26403  953900.0  1950700.0  954000.0  1950800.0  ...  37.554947  0.0  0.0     1.0
26404  953900.0  1950800.0  954000.0  1950900.0  ...  37.555848  0.0  0.0     1.0
26405  953900.0  1950900.0  954000.0  1951000.0  ...  37.556749  0.0  0.0     1.0
26601  954000.0  1950600.0  954100.0  1950700.0  ...  37.554051  0.0  0.0     1.0
26602  954000.0  1950700.0  954100.0  1950800.0  ...  37.554952  0.0  0.0     1.0
26603  954000.0  1950800.0  954100.0  1950900.0  ...  37.555853  0.0  0.0     1.0

[56 rows x 9 columns]

In [ ]:
secent.to_excel("/content/drive/MyDrive/서울시격자중심점_좌표수정_회수로봇.xlsx")